@{Layout="_Layout";}

@using FoodStore.Models;
@model List<FoodStore.Models.Store>;

<h1>Wowy look at all these stores!</h1>

@if (@Model.Count == 0)
{
  <h2> nevermind... </h2>
}

@foreach (Store store in Model)
{
  <ul>@Html.ActionLink($"{store.StoreName}", "Details", new {id = store.StoreId})</ul>
}

